
.cart-container,
.cofirf-container {
    max-width: 600px;
    margin: 50px auto;
    /*background-color: rgba(12, 12, 12, 0.78);*/
    background: linear-gradient(135deg, rgb(57, 63, 68), rgba(255, 255, 255, 0));;
    padding: 20px;
    border-radius: 8px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.item-image img {
    width: 100px;
    margin-right: 15px;
    border-radius: 8px;
}

.item-name, .item-price, .item-quantity {
    color: white;
    margin: 5px 0;
}

button, .btn {
    cursor: pointer;
    padding: 17px 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    border-radius: 5px;
    margin-right: 5px;
    width: 200px;
    background-color: rgba(12, 12, 12, 0.63);
    color: white;
}



.item-actions button {
    padding: 12px 18px;
    font-weight: bold;
    margin: 2px;
    min-width: 50px;
}

.item-actions button[type="submit"]:last-of-type {
    background-color: rgba(10, 10, 10, 0.57);
    color: white;
}

.action-btn {
    min-width: 260px;
    text-align: center;
}

.empty-cart {
    text-align: center;
    color: white;
}

.cart-summary {
    text-align: left;
    margin-top: 20px;
}

.total-price {
    font-weight: bold;
    color: white;
}

.item-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.item-details, .item-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
}

#confirm-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*background: linear-gradient(135deg, rgb(57, 63, 68), rgba(255, 255, 255, 0));*/
    color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    width: 30%;
    text-align: center;
}

.confirm-title {
    margin-bottom: 20px;
}

.confirm-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(135deg, rgb(57, 63, 68), rgba(255, 255, 255, 0));

    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-btn:hover {
        box-shadow: 0 0 80px white,
    0 0 40px white,
    0 0 20px white,
    0 0 5px white;
}

