@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Great+Vibes&family=Lato&family=Montserrat:wght@300;400&family=PT+Serif:ital@1&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

html {
    font-family: Arial, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}


*,
*::before,
*::after {
    margin: 0 auto;
    padding: 0;
    box-sizing: inherit;
    line-height: 1.3;
}


h1,
h2,
h4,
h5,
h6 {
    padding: 0.2em 1rem;
}

p,
div {
    margin: 0 1em 0.5em 1em;
}

ol,
ul {
    margin: 0 1rem;
}

li {
    list-style-position: inside;
}

button {
    font-weight: bold;
    padding: 0.2em;
    margin: 0.2em;
    border: 1px solid white;
    border-radius: 0.3em;
    background-color: transparent;
}

a {
    margin: 0.2em;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

#index-headline {
    width: auto;
    justify-content: right;
    padding: 25px 15px 20px;
    position: relative;
    box-sizing: border-box;
    text-align: center;
}

#index-headline .index-message {
    z-index: 999;
    left: 0;
    top: 40%;
    text-align: left;
    width: 30%;

}


.index-message h2 {
    color: #ffffff;
    font-size: 250%;

    line-height: 1;
    font-weight: 700;
    letter-spacing: 8px;
    word-spacing: normal;
    text-transform: capitalize;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Amatic SC', cursive;

}

.index-message h3 {
    color: #88472e;
    font-size: 350%;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: normal;
    text-transform: uppercase;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Amatic SC', cursive;

}

.index-message h4 {
    color: #547f4b;
    font-size: 69%;

    line-height: 1;
    font-weight: 700;
    letter-spacing: 8px;
    word-spacing: normal;
    text-transform: uppercase;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Abril Fatface', cursive;
}

#menu > h1 {
    text-align: center;
    color: #134062;
    text-transform: uppercase;
    padding: 20px;
    font-family: 'Cinzel', serif;
    letter-spacing: 15px;
}


#home-page > h1 {
    color: rgb(252, 168, 151);
    text-align: center;
    font-weight: 700;
    font-size: 84px;
    font-family: "Agency FB", serif;
}

.no-articles {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    font-family: "fantasy", serif;
    color: white;
    text-shadow: white 0 0 10px;
}


.details-buttons {
    text-align: center;
    margin-top: 20px;
}

.details-btn, .add-to-cart-btn {
    color: #fff;
    border: none;
    margin: 10px;
    padding: 10px 15px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.5s;
    transition-property: box-shadow;
}

.details-btn, .add-to-cart-btn {
    background: none;
    box-shadow: 0 0 20px white;
}

.details-btn:hover,
.add-to-cart-btn:hover,
.step-links-buttons a,
.step-links-buttons span.current{
    box-shadow: 0 0 80px white,
    0 0 40px white,
    0 0 20px white,
    0 0 5px white;
}

.product-card > h3 {
    font-family: "Agency FB", serif;
    font-size: 34px;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.5s ease-out;
    text-align: center;
    text-transform: uppercase;
}

.product-card > h3,
.product-card > h1 {
    color: #E2E8EA;
    text-align: center;
}

.product-card > h1 {
    font-size: 12px;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    margin-top: 10px;
    padding: 25px;
    margin-left: 20px;
    background-position: right 35% bottom 45%;
    box-sizing: border-box;
    float: left;
    height: auto;
}

.image-wrap {
    width: 190px;
    height: 190px;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.image-wrap > img {
    max-width: 100%;
    max-height: 100%;
}
