@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


.pagination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}


.step-links-buttons a:hover {
    background-color: #3498db;
}

.step-links-buttons span.current {
    cursor: default;
    text-shadow: none;
}
.step-links-buttons a:first-child,
.step-links-buttons a:last-child {
    margin: 0;
}

.step-links-buttons {
    display: flex;
    text-shadow: none;
}

.step-links-buttons a.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.material-icons {
    font-size: 24px;
    color: #000;
}

.pagination-arrow .material-icons {
    font-size: 30px;
    color: #ffffff;
}
.pagination-arrow:hover .material-icons {
    color: #1abc9c;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
}

.pagination-arrow {
    padding: 0 10px;
}

.page-info {
  padding: 0 15px;
}
