
{% extends "base.html" %}

{% block main_content %}
    <section id="delete-page" class="auth">
        <div class="container">
            <h1 style="color: red;">Are you sure you want to delete {{ product.name }}?</h1>
            <form action="{% url "delete-food" pk=product.id %}" method="post">
                {% csrf_token %}
                <input class="btn" type="submit" value="Yes">
                <input class="btn" type="button" value="Cancel"
                       onclick="window.history.back(); return false;">

            </form>
        </div>
    </section>
{% endblock %}