{% extends 'base.html' %}
{% load group_tags %}

{% block main_content %}

    <section id="product-details">
        <h1>product Details</h1>
        <div class="info-section">
            <div class="product-header">
                <img class="product-img"
                     src="{{ product.image.url }}"
                     alt='product image'/>
                <h1>{{ product.name }}</h1>
                <p><span class="description-product">Price: {{ product.price }}</span></p>
                <p><span class="description-product">Description:{{ product.description }}</span></p>
            </div>
            <div class="buttons">
                {% if  request.user|has_group:"admin_group" or user.is_superuser %}
                <a href="{% url "update-food" pk=product.id %}" class="edit-button">Edit</a>
                <a href="{% url "delete-food" pk=product.id %}" class="delete-button">Delete</a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
