{#{% extends 'base.html' %}#}
{##}
{#{% block main_content %}#}
{##}
{#    <section id="profile-details">#}
{#        <h1>Profile</h1>#}
{#        <div class="info-section">#}
{#            <div class="profile-header">#}
{#                {#}
{#                <img class="profile-img"#}
{#                     {% if user.profile_picture %}#}
{#    <img class="profile-img" src="{{ user.profile_picture.url }}" alt="profile image">#}
{#{% else %}#}
{#    <img class="profile-img" src="{% static 'images/profile_picture.jpg' %}" alt="profile image">#}
{#{% endif %}#}
{#                     alt='profile image'/>#}
{#                <h1>{{ profile.name }}</h1>#}
{#                <p><span class="description-profile">Name: {{ profile.name }}</span></p>#}
{#                <p><span class="description-profile">Price: {{ profile.price }}</span></p>#}
{#                <p><span class="description-profile">Description:{{ profile.description }}</span></p>#}
{#            </div>#}
{#            <div class="buttons">#}
{#                <a href="{}" class="edit-button">Edit</a>#}
{#                <a href="{}" class="delete-button">Delete</a>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#{% endblock %}#}

{% extends 'base.html' %}

{% load static %}

{% block main_content %}

<section id="profile-details">
    <h1>Profile</h1>
    <div class="info-section">
        <div class="profile-header">
            {% if appuser.profile_picture %}
                <img class="profile-img" src="{{ appsuser.profile_picture.url }}" alt="profile image">
            {% else %}
                <img class="profile-img" src="{% static "images/profile_picture.jpg" %}" alt="profile image">
            {% endif %}
            <h1>Username: {{ user.username }}</h1>
            <p><span class="description-profile">Name: {{ appsuser.username}}</span></p>
            <p><span class="description-profile">E-mail: {{ appsuser.email }}</span></p>
            <p><span class="description-profile">Description:{{ appsuser.get_full_name }}</span></p>
        </div>
        <div class="buttons">
            <a href="{% url "update-profile" pk=appsuser.id %}" class="edit-button">Edit</a>
            <a href="{}" class="delete-button">Delete</a>
        </div>
    </div>
</section>

{% endblock %}

