
{% extends 'base.html' %}

{% load static %}

{% block main_content %}

<section id="profile-details">
    <h1>Profile</h1>
    <div class="info-section">
        <div class="profile-header">
            {% if appuser.profile_picture %}
                <img class="profile-img" src="{{ appsuser.profile_picture.url }}" alt="profile image">
            {% else %}
                <img class="profile-img" src="{% static "images/profile_picture.jpg" %}" alt="profile image">
            {% endif %}
            <h1>Username: {{ user.username }}</h1>
            <p><span class="description-profile">Name: {{ appsuser.get_full_name}}</span></p>
            <p><span class="description-profile">E-mail: {{ appsuser.email }}</span></p>
            <p><span class="description-profile">Phone number:{{ appsuser.phone_number }}</span></p>
        </div>
        <div class="buttons">
            <a href="{% url "update-profile" pk=appsuser.id %}" class="edit-button">Edit</a>
            <a href="{% url "delete-profile" pk=appsuser.id %}" class="delete-button">Delete</a>
        </div>
    </div>
</section>

{% endblock %}

