{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "/css/style.css" %}"/>
    <title>Vik's Fast Food Vault</title>
</head>
<body>
<div id="box">
    <header>
        <h1><a class="index-navigation" href="{% url "index" %}">Vik's Fast Food Vault</a></h1>
        <nav>
            {% if not users %}
                <a href="{% url "menu" %}">Menu</a>
                <a href="{}">Sign in</a>
                <a href="{}">Register</a>
                <a href="{}">Create food</a>
            {% else %}
                <a href="{% url "register" %}">Create Plant</a>
                <a href="{}">Profile</a>
            {% endif %}
        </nav>
    </header>
    {% block main_content %}
    {% endblock %}
    <footer>
        Fast Food Vault by V.Stanimirov &copy;2024
    </footer>
</div>
</body>
</html>
